html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --light-gray: rgb(157, 157, 157);
}

header {
  background-color: white;
  color: white;
  border-bottom: 1px solid var(--light-gray);
  padding-left: 25px;
}

.sidebar {
  background-color: white;
  color: black;
  width: 20%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--light-gray);
  padding-left: 25px;
  padding-top: 25px;
}

.task-container {
  background-color: #f9fcff;
  width: 80%;
}

.task-container-grid {
  padding: 20px;
}

.task-container-header {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 2rem;
}

.app-content {
  display: flex;
  margin: 0;
  border-bottom: 1px solid var(--light-gray);
}

.all-tasks-button,
.project-button,
.add-task-button,
.project-button,
.project-dropdown-button {
  border: none;
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: transparent;
  text-align: left;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 8px;
  margin: 4px;
}

.project-button {
  padding-left: 5ch;
}

.sidebar-icon {
  height: 1rem;
  width: auto;
}

.right-arrow {
  height: 0.75rem;
  width: auto;
}

.poop-icon {
  height: 3rem;
  width: auto;
}

.title-and-icon {
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 8px;
}

.app-title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-transform: lowercase;
  color: rgb(40, 30, 22);
  font-size: 3rem;
  font-weight: 200;
}

.task-card {
   font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 1px solid var(--light-gray);
  padding: 20px;
  background-color: white;
  border-radius: 24px;
  margin-bottom: 24px;
  width: 500px;
}

.odin-blurb {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 0.75rem;
  padding: 20px;
}

.dialog-input {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
}

.dialog-header {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  text-align: center;
}

.dialog {
  padding: 60px;
  border: 1px solid var(--light-gray);
  border-radius: 24px;
}

.dialog-label {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.75rem;
  padding-bottom: 2px;
}

.form-submit,
.dialog-exit {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  background-color: black;
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.dialog-selector-div {
  display: flex;
}

.task-card-button-icon {
  height: 3ch;
  width: auto;
  pointer-events: none;
}

.task-card-button {
  background: none;
  border: none;
}

.task-card-top-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-card-bottom-div {
  display: flex;
  justify-content: space-between;
}

.task-card-priority,
.task-card-project {
  border: 1px solid red;
  border-radius: 8px;
  padding: 2px;
}

.low-priority {
  color: blue;
}

.medium-priority {
  color: yellow;
}

.high-priority {
  color: red;
}

.task-card-bottom-right {
  display: flex;
  gap: 8px;
}